.DS_Store
.oh-my-zsh-custom/themes/
.oh-my-zsh-custom/plugins/
.dev-knowledge/cheatsheets
.dev-knowledge/aem-install.md
scripts/trans
stylelintrc.yaml
databases
plugins
claude/CLAUDE.company.md
claude/install-plugins.company.sh
claude/settings.company.json